<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style-1.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

</html>
<body>    
    <section>
        <header>
            <h1>Sticky Notes</h1>
        </header>
        <div id = "app">
            <div class="login-container">
                <label for="uname"><b>Username:</b></label>
                <input type="text" placeholder="Enter Username" id="uname" required>
                <button class="login-btn" @click="CreateUser" >Create</button>
                <br>
                <label for="psw"><b>Password:&nbsp</b></label>
                <input v-bind:type="MyToken.length==0?'text':'Password'" placeholder="Enter Password" id="pw" required>
                <button class="login-btn" @click="UserLogin();GetTokenpw();">Login</button>
                
                           
            </div>

            <div class="login-condition-container">                
                <h2 v-if="MyToken.length==0 && LoginStatus.length==0">Not Yet Login</h2>
                <h3 v-else-if="MyToken.length==64 && LoginStatus.length==0">Your Token: <br> {{MyToken}}</h3>
                <h2 v-else-if="MyToken==='GGWP'">Invalid Username or Password</h2>
                <h2 v-else-if="LoginStatus==='done'">Account Created Successfuly, Please Login.</h2>               
                <h2 v-else>Fail to Create, username already exist</h2>
            </div>

            <div v-if="MyToken.length==64">        
                <div  class="add-note-container">
                    <h2>New Note:</h2>            
                    <textarea class="NoteContent" v-model="AddContent" placeholder="Type here ..." ></textarea>
                    <img class="photo" src="">
                    <a href="#" @click="AddNote">Photo 1</a>
                    <button class="Add-btn" @click="AddNote">ADD</button>
                    <button class="Add-btn" @click="ViewNote">Refresh</button>
                </div>

                <div class="view-notes-container">
                    
                    <div class="note-container" v-for="Note in Notes">                    
                        <hr>
                        <textarea v-if="isEdit && Note.id==EditId" class="NoteContent" v-model="EditContent">{{Note.content}}</textarea>
                        <p v-else id="NoteContent">{{Note.content}}</p>
                        
                        <button v-if="isEdit && Note.id==EditId" @click="UpdateNote(Note.id)">Save</button>
                        <button v-else @click="EditNote(Note.id)">Edit</button>
                        
                        <button @click="DeleteNote(Note.id)">Delete</button>                        
                    </div>
                </div>
            </div>
        </div>            
        

    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="script-1.js"></script>
</body>
